<jam-single-warning message="Remember not to upload copyrighted books"></jam-single-warning>

<h3>Books</h3>
<demo-collection-info [collection]="books"></demo-collection-info>

<jam-floating-button tooltip="Add book"
    (click)="openDialog()"
></jam-floating-button>

<jam-floating-filters>
    <ng-container class="jam-filter-header">
        <jam-search-input
            [(text)]="filter_text"
        ></jam-search-input>
    </ng-container>

    <ng-container class="jam-filter-content">
        <demo-jsonapi-filter-categories
            [remoteFilter]="remoteFilter"
        ></demo-jsonapi-filter-categories>
    </ng-container>
</jam-floating-filters>

<div class="mat-elevation-z2">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date Published</th>
                <th>Author</th>
                <th>Photos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!-- Use authors example. @deprected since version 2.0.0 -->
        <tr *ngFor="let book of books.data | filter: filter_text">
            <td>{{ book.id }}</td>
            <td>
                <a mat-button color="primary" [routerLink]="['/books', book.id]">{{ book.attributes.title }}</a>
            </td>
            <td>{{ book.attributes.date_published | date }}</td>
            <td>{{ book.relationships.author.data.attributes.name }} #{{ book.relationships.author.data.id }}</td>
            <td><span *ngFor="let photo of book.relationships.photos.data">{{ photo.id }}, </span></td>
            <td fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button matTooltip="Edit book" (click)="openDialog(book)">
                    <mat-icon>edit</mat-icon>
                </button>

                <jam-delete-confirmation
                    (delete)="delete(book)"
                ></jam-delete-confirmation>
            </td>
        </tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="end center">
        <demo-collection-paginator [collection]="books"></demo-collection-paginator>
    </div>
</div>
